@import 'modal_playlist';
@import 'contextMenu';

.modal-background {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    background: $standard_black;
    background: rgba(0,0,0,.75);
    z-index: 2030;
    overflow-y: scroll;


    .modal-child {
        display: block;
        height: 100%;
        width: 100%;
    }


    .modal-close-row {
        display: flex;
        justify-content: center;

        .modal-btn {
            padding: 20px 0;
            margin: 0 10px;
        }
        
        

        .modal-cancel,
        .modal-create {
            display: block;
            background: transparent;
            padding: 20px 25px;
            outline: none;
            color: $standard_white;
            transition-property: transform, background-color;
            transition-duration: 0.2s;
        }

        .modal-cancel {
            padding: 11px 44px;
            background: lighten($spotify_gray, 0.3);
            background: rgba(24,24,24,.7);  
            box-shadow: inset 0 0 0 2px $spotify_gray;

            &:hover {
                transform: scale(1.1);
            }
        }

        .modal-create {
            background-color: $spotify_green;
            padding: 11px 44px;

            &:hover {
                transform: scale(1.1);
                background-color: lighten($spotify_green, 5%);
            }
        }
    }
} // modal-background

