.playlist-index {
    color: $spotify_gray;
    padding: 20px;

    .playlist-index-container {
        display: flex;
        flex-wrap: wrap;

        

        li {
            display: block;
            box-sizing: border-box;
            margin: 10px;

            .album-wrap {
                margin: 10px;
                
                .mo-info {
                    padding: 1.1em 0;
                    text-align:center;
                    
                    .playlist-title {
                        font-weight: 300;
                        font-size: 14px;
                        
                    }
                }
            }
        }
    }
}




