@import "_sub_views/browse/featured.scss";
@import "_sub_views/collection/collection.scss";
@import "_sub_views/playlist/playlist.scss";

.Root__main_view {
    grid-area: main;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow-y: scroll;
}


