
.now-playing-bar-center {
    width: 40%;
    max-width: 722px;

    .player-controls {
        .player-controls-buttons {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 250px;
                margin: 0 auto 12px;

            .player-play{
                font-size: 32px;
                transition: font-size .05s;
                &:hover {
                    font-size: 36px;
                }
            }
        } // .player-controls-button
    } // .player-controls


    .playback-bar {
        display: flex;
        font-weight: 300;
        
        .playback-bar-progress-time {
            font-size: 11px;
            letter-spacing: 0.5px;
            min-width: 40px;
            text-align: center;
            color: $spotify_gray;
        }

        
    } // .playback-bar

    
} // .now-playing-bar-center