$spotify_green: #1DB954;
$spotify_black: #212121;
$spotify_black2: #121212;
$spotify_gray_dark: #535353;
$spotify_gray: #B3B3B3;

$facebook_blue: #3B5998;

$standard_black: #000;
$standard_white: #fff;

$border_white: #dfe0e6;

$button_blue: #3b5998;

$gray_anchor: #D9DADC;
$gray_label: #88898c;


$player_bg: #282828;


$black_input: #1c1c1f;

