.alert {
    border-width: 0;
    font-size: 12px;
    padding: 14px 14px 12px;
    font-weight: 400;
    text-align: center;
}

.alert-warning {
    background-color: #f59b23;
    border-color: #f59b23;
    color: $standard_white;
}


.invalid {
    border: 1px solid#eb1e32 !important;
}


.invalid-input {
    color: #eb1e32;
    margin: 10px;
}